@mixin arrow {
    &::before {
        content:'';
        position: absolute;
        background-color: #ececec;
        height: 1px;
        width: 85px;
        transform: rotate(25deg);
    }
    &::after {
        content:'';
        position: absolute;
        background-color: #ececec;
        height: 1px;
        width: 85px;
        left: 77px;
        transform: rotate(-25deg);
    }
}