@import 'libs/bootstrap-reboot.min.css';
@import 'libs/font';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import 'base/variables';
@import "base/mixins";

* {
    /* font-family: 'Museo Sans Cyrl', sans-serif;   */ 
    font-family: 'Roboto', sans-serif;
}
ul {
    padding-left: 0;
    margin: 0;
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-weight: 900;
    color: #ffffff;
    &-black {
        color: #393939;
    }
}


@import "blocks/header";
@import "blocks/main";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/menu";
@import "blocks/expert";
@import "blocks/business";
@import "blocks/variant";
@import "blocks/start";
@import "blocks/footer";
@import "blocks/media";
